@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);

::-moz-selection {
    color: #ffffff;
    background: #000;
}

::selection {
    color: #ffffff;
    background: #000;
}

html, body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.editor {
    background: #000;
    color: white;
}